body{
    background: #252528;
}
.menu{
    list-style: none;
    line-height: 42px;
    margin: 2em auto;
    outline: 1px solid red;
     padding-left: 0;
     width: 15em;
}
.menu a{
    color:#ddd;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
}
.menu li{
    outline: 1px solid green;
    border-left: 3px solid rgba(255, 255, 255, .2);
    margin-bottom: 5px;
    box-shadow: 3px 0 rgba(255, 255, 255, .2) inset;
    --webkit-transition:  all 1s;
    -o-transform:  all .5s;
    transition: all .5s;
}
.menu li:hover{
    box-shadow: 15em 0 rgba(255, 255, 255, .2) inset;
}